:root{
	--columnNumber: 16;
}

h1{
	text-align: center;
}

#reset{
	margin: 10px;
}

button{
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid pink;
}

button:hover{
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	background-color: pink;
	color: white;
}

#buttons{
	text-align: center;
}

#container{
	display: grid;
	grid-template-columns: repeat(var(--columnNumber), 1fr);
	margin: 0 auto;
	height: 500px;
	width: 500px;
	border: 2px solid;
}

.gridCell{
	background-color: white;
}